html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.wrap{
    margin:0 auto;
    max-width:1000px;
    height:1000px;
    box-shadow: 0.3px 0.3px 5px 0.3px rgba(0, 0, 0, 0.5);
    background-color: rgb(243, 249, 226);
}
.banner{
    max-width:1000px;
    height:350px;
    background:linear-gradient(45deg, rgb(173, 197, 174), rgba(33, 91, 115, 0.805));
    z-index: 5;
}
.banner-p1{
    padding-left: 50px;
    padding-top: 10px;
    width:682px;
    height:42px;
    font-size: 30px;
    color:rgba(1, 53, 66, 0.751);
    font-weight:bold;
    /*-webkit-text-stroke: 0.3px #fff;*/
    z-index:10;
}
@media(max-width:768px){
    .banner-p1{
        width:37%;
        height:16px;
        font-size: 22px;
        padding-left:none;
        padding-top: 180px;

    }
}
@media(max-width:500px){
    .banner-p1{
        padding-left:none;
        font-size: 18px;
        padding-top:80px;
        width:31%;
    }
}
.banner-p2{
    font-size: 20px;
    color:#ffffff;
    width:200px;
    height:24px;
    padding-left:430px;
    padding-top:0px;
    z-index:50;
}
@media(max-width:768px){
    .banner-p2{
        font-size: 18px;
        width:82%;
        height:20px;
        padding-left: none;
    }
}
@media(max-width:500px){
    .banner-p2{
        display:none;
    }
}
.menu-bar {
    max-width: 1000px;
    height: 30px;
    text-align: center;
    background-color: #a8a5a5;
    margin-top:250px;
}

.menu-bar ul {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
}

ul li {
    width: 100px;
    background-color: #616161;
    height: 23px;
    margin-top:4px;
    margin-right: 4px;
    text-align: center;
    box-shadow: 2px 0px 2px 0 rgba(255, 255, 0);
    border-radius: 5px;
}

li a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding-top:6px;
    display:block;
}

li a:hover {
    color: yellow;
}